<div class="drDetailsTop">
    <div class="drBgtop"></div>
    <div class="containerMain">
        <div class="container">
            <div class="commuList commuListInnHead">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
                <div class="comHead">
                    <div class="commSurg commSurgGren">Gallstone Treatment</div>
                    <div class="comDate">10 Feb 2022</div>
                </div>


                <div class="comLast">
                    <div class="FL">
                        <span class="comTxt2"><span>Answered on</span></span>
                        <div class="comDate">10 Feb 2022,</div> <span class="comTxt">Surgify</span> <span
                            class="comTxt2"><a href="#"><img src="assets/images/heart-com2.svg"></a> by
                            <span>120</span></span>
                    </div>

                    <a href="" class="btnBack">
                        < Back</a>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="clears"></div>

<div class="commIner">
    <div class="container">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus nunc, accumsan ultricies orci eget,
            maximus tristique leo. Aliquam a lacus eget urna auctor placerat sit amet vitae neque. Donec nec laoreet
            augue, ut aliquam orci. Nullam leo enim, rutrum eget sem vitae, blandit sagittis libero. Morbi eleifend
            libero vel eros efficitur consequat. In quis tortor vitae sem accumsan ultricies eget ullamcorper ante.
            Nulla facilisi. Ut tincidunt ultricies metus.
        </p>
        <p>
            Praesent in lectus metus. Integer eu lacinia sapien. Nunc vel dui enim. Aenean vel congue purus. Nam vitae
            ipsum ex. Morbi convallis sollicitudin urna, ut sagittis lacus vehicula sed. Etiam non porttitor velit.
        </p>

        <p>
            <strong>Sed metus nunc, accumsan ultricies orci eget</strong><br />

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus nunc, accumsan ultricies orci eget,
            maximus tristique leo. Aliquam a lacus eget urna auctor placerat sit amet vitae neque. Donec nec laoreet
            augue, ut aliquam orci. Nullam leo enim, rutrum eget sem vitae, blandit sagittis libero. Morbi eleifend
            libero vel eros efficitur consequat. In quis tortor vitae sem accumsan ultricies eget ullamcorper ante.
            Nulla facilisi. Ut tincidunt ultricies metus.
            Praesent in lectus metus. Integer eu lacinia sapien. Nunc vel dui enim. Aenean vel congue purus. Nam vitae
            ipsum ex. Morbi convallis sollicitudin urna, ut sagittis lacus vehicula sed. Etiam non porttitor velit.
        </p>
        <p>
            <strong>Lorem ipsum dolor sit amet:</strong> consectetur adipiscing elit. Sed metus nunc, accumsan ultricies
            orci eget, maximus tristique leo. Aliquam a lacus eget urna auctor placerat sit amet vitae neque. Donec nec
            laoreet augue, ut aliquam orci. Nullam leo enim, rutrum eget sem vitae, blandit sagittis libero. Morbi
            eleifend libero vel eros efficitur consequat. In quis tortor vitae sem accumsan ultricies eget ullamcorper
            ante. Nulla facilisi. Ut tincidunt ultricies metus.
            Praesent in lectus metus. Integer eu lacinia sapien. Nunc vel dui enim. Aenean vel congue purus. Nam vitae
            ipsum ex. Morbi convallis sollicitudin urna, ut sagittis lacus vehicula sed. Etiam non porttitor velit.
        </p>

        <div class="commuList commuListInn">

            <div class="comLast">
                <div class="comDate">10 Feb 2022,</div> <span class="comTxt">Surgify</span> <span class="comTxt2"><a
                        href="#"><img src="assets/images/heart-com2.svg"></a> by <span>120</span></span>
            </div>
        </div>
    </div>
</div>