<div class="workDNone">
    <ul class="sec3Boxes2">
        <li>
            <span>12,499+</span>
            <p>Completed<br> Surgeries</p>
        </li>
        <li>
            <span>110</span>
            <p>Network<br> Hospitals</p>
        </li>
        <li>
            <span>105</span>
            <p>Experienced<br> Surgeons</p>
        </li>
        <a href="javascript:void(0);" class="btn btn-secondary btn-appointment" (click)="openBookAppointment()">Book Appointment</a>
        <div class="clear"></div>
    </ul>
</div>
