<div class="forgotBox" *ngIf="!isSent">
    <div class="city-header text-center">
        <h3 class="city-title">Forgot Password</h3>
        <button type="button" class="modal-close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="loginTxt">

        <div class=" ">
            <form class=" " [formGroup]="forgotForm">

                <div class="form-group animation">
                    <input type="email" class="form-control" placeholder="Email ID" id="email" formControlName="email"
                        [ngClass]="{'error': hasError('email', 'required')}">
                    <label for="" class="form-label">Email ID</label>
                    <div class="FL inError" *ngIf="hasError('email', 'required')">Email is mandatory</div>
                    <div class="FL inError" *ngIf="hasError('email', 'email')">Incorrect Email format</div>
                </div>

                <div class="action-row">
                    <button type="submit" class="btn btn-secondary btn-block" (click)="sendPassword()" [disabled]="forgotForm.invalid">Submit</button>
                    <div class="note">Back to <a href="javascript:void(0);" (click)="openLogin()">Login</a></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="forgotThankBox" *ngIf="isSent">
    <div class="city-header text-center">
        <h3 class="city-title">&nbsp;</h3>
        <button type="button" class="modal-close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="loginTxt">

        <div class=" ">
            <form class=" ">

                <div class="fotThaTxt"> <img src="assets/images/greenCheck.svg" class="genCheck">
                    We have sent you password to your
                    registered email id "{{email}}"

                </div>
                <div class="action-row">
                    <button type="submit" class="btn btnBack btn-secondary btn-block" (click)="openLogin()">Back
                        to Login</button>
                </div>

            </form>
        </div>
    </div>
</div>