<div class="homepage">
    <section class="homeBanner homeBannerInn">
      <ul class="homeBan">
        <li class="innerBanner innerBanner-about-surgify">
          <div class="container">
             <div class="innerBannerTxt">
               <h3>About</h3>
               <h4>Surgify</h4>
             </div>
          </div>
        </li>
      </ul>
    </section> 
 
    <div class="clears"></div>
    <!-- about surgif -->
    <div class="about-surgify-block">
      <div class="about-surgify">
        <div class="container">
          <div class="about-heart-icon d-none d-sm-block"></div>
          <ul class="row">
            <li class="col-lg-6 col-md-12 col-sm-12">
              <div class="about-surgify-txt">From <span>finding the surgeon</span> you can trust to undergoing a surgery, it is emotionally taxing for the patient. At times the family and the patient are <span>unprepared</span> to face this situation. <i class="qoute-icon" aria-hidden="true"></i></div>
              
            </li>

            <li class="col-lg-6 col-md-12 col-sm-12 PA">

            <div class="aboutSurgery">
                <span class="treatmentHead">The challenges faced by the patient and family are:</span>
                <ul class="row whtarepilesTxt">
                  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Diagnosing the health issue- identifying the patient’s health problem.</li>
                  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Choosing the right doctor for treatment; to be able to trust the doctor is an emotional decision. </li>
                  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Choosing the right hospital for surgery – it involves being aware and alert about various factors like facilities at the hospital, expertise of the doctor, payment options available at the hospital, hygiene, and much more. </li>
                  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Preparing the documents to be submitted to the hospital before and after the surgery.</li>
                  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Last but not the least patients and their family face emotional and financial stress throughout this entire process. </li>
                  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Thus, having a surgery is more an emotional decision. Surgify resonates with your feelings and understands your challenges. </li>
                  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">And brings you a one-stop solution for your surgery. </li>
                  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">The simplifying the entire journey from selecting the hospital and doctor to returning home back from the hospital post-surgery.</li>
    
                </ul>
              
            </div>
            <div class="treartDots1"></div>
            <div class="treartDots2"></div>
            <div class="heartSM1"></div>
            <div class="heartSM2"></div>
            <div class="heartSM3"></div>

            </li>
          </ul>
        </div>
      </div>

    <!--  -->
   
    <!-- Simplifying the Journey  -->
    <div class="simplify-journey">
      <div class="logoWater d-none d-sm-block">
        <img src="assets/images/logoWater.svg">
      </div>
      <div class="container">
        <h4> <b>Simplifying</b>  <span> <strong>the journey</strong></span></h4>
      </div>
      <div class="container">
        <ul class="symptomsList">
          <li>
            <div class="symptomsBox">
              We help you select a suitable doctor in nearby Surgify Clinic
            </div>
          </li>
          <li>
            <div class="symptomsBox">
              Schedule the surgery with the top-class hospitals with advanced technology
            </div>
          </li>
          <li>
            <div class="symptomsBox">
              Getting the documents ready before the surgery
            </div>
          </li>
          <li>
            <div class="symptomsBox">
              Travelling facility provided to the patient to stay relaxed and calm.
            </div>
          </li>
          <li>
            <div class="symptomsBox">
              During the stay at the hospital patients and the attendant is provided hygienic food based on the doctor’s instructions.
            </div>
          </li>
          <li>
            <div class="symptomsBox">
              Dropping back the patient home with a smile.
            </div>
          </li>
        </ul>
        <div class="clear"> </div>
      </div>
     </div>

    <!--why Surgify?  -->

    <div class="whySur whySur2">
      <div class="container"><h5>We care for your health!!</h5></div>
      <div class="container">
        <h4> <b>Why</b>  <span> <strong>Surgify?</strong></span></h4>
        <ul class="row">
          <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <ul class="row whySurList">
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>1</span> Often surgery charges often vary, but Surgify provides economical options as we tie up with surgeons and hospitals. </li>
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>2</span> Irrespective of whether you have a Mediclaim or not we are here to help you and simplify the entire journey. </li>
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>3</span> Even in the case of cashless cover, hospitals do ask for a deposit and only a part of the deposit is returned. But, when you choose Surgify to take care of the process, we guarantee a 100% claim. </li>
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>4</span> You don’t need to carry your wallet, as no deposit will be charged by a Surgify hospital. </li>
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>5</span> We provide single room for every patient irrespective of the facility chosen by the patient. </li>
            </ul>
          </li>

          <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <ul class="row whySurList MT0">
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>6</span> Cashless Mediclaim is available at only big hospitals. So if your have availed for reimbursement hospitalization, Surgify pays for the total cost, thus we reimburse.</li>
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>7</span> We book Ola / Uber to drop the patient to the hospital and back home after the surgery.</li>
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>8</span> Relatives and family don’t need to carry food for you as we provide the patient and the attendant throughout your stay at the hospital. </li>
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>9</span> Our representative is always present to morally and emotionally support your family. </li>
            </ul>
          </li>

        </ul>
        
      </div>
    </div>
    <!--  -->

     <!--why Surgify? Two Columns  -->
     <div class="with-wout-surgify">
       <div class="container">
        <div class="with-wout-surgify-blck">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <h4> <b>With</b>  <span> <strong>Surgify?</strong></span></h4>
                  <ul class="row">
                    <li class="col-lg-12 col-xs-12">
                      <ul class="row whtarepilesTxt">
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">We identify the best doctor and best hospital for the surgery.</li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Before the surgery and post-surgery documents are handled and submitted by Surgify. Patient’s family doesn’t have to exert themselves worrying about the procedures and formalities.  </li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Even in case of cashless cover, hospitals ask for deposit and only a part of it is returned. Surgify guarantees 100% claim and the entire deposit is returned. </li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">After you entrust the responsibility to Surgify patients and their family don’t have to face emotional and financial stress throughout this entire process. </li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Your family doesn’t need to carry their wallet along, as no deposit will be charged by a Surgify hospital.</li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Ola / Uber to drop the patient to the hospital and back home after the surgery.</li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Relatives and family don’t need to carry food, as we provide the patient and the attendant with healthy food throughout your stay at the hospital. </li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Surgify representative is always present to morally and emotionally support your family.</li>
          
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12 with-wout-divider">
                  <h4> <b>Without</b>  <span> <strong>Surgify?</strong></span></h4>
                  <ul class="row">
                    <li class="col-lg-12 col-xs-12">
                      <ul class="row whtarepilesTxt">
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">You have to spend time, money and put in efforts to research and identify the best doctor and hospital for the surgery.</li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Patient’s family has to run from pillar to post arranging for various documents before the surgery and post-surgery. It’s a tiring process and family often feels emotionally drained out.</li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">There is no assurance of 100% claim even in cashless cover as the deposit charged by the hospital is never reimbursed. </li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Patients and their family face emotional and financial stress throughout this entire process.</li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Family keeps worrying about having debit/credit cards or cash ready. They cannot be with their loved ones during the most critical period.</li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Patient’s family has to arrange for the travel to the hospital and back home.</li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Family and relatives has to arrange for their food. This is a herculean task at a time when the family / relatives are emotionally drained out.</li>
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">In the absence of moral support family feels worried and stressed. </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
       </div>
     </div>
    </div>
    <!--  -->
</div>
