<!-- Admin Modal -->
<div class="admin-modal">
    <div class="loginPup" >
      <div class="">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="city-container">
              <div class="city-header text-center">
                <h3 class="city-title">Admin Login</h3>
              </div>
              <div class="loginTxt">
                 
                <div class="appointment-body">
                  <form class="appointment-form">
                     
                    <div class="form-group animation">
                      <input type="email" class="form-control"placeholder="Email ID"  id="" aria-describedby="emailHelp">
                      <label for="" class="form-label">Email ID</label>
                    </div>
                    <div class="form-group animation">
                      <a href="javascript:void(0)" class="eyeCross"></a>
                      <a href="javascript:void(0)" class="eyeCross2"></a>
                      <input type="Password" class="form-control error" name="" placeholder="Password">
                      <label for="" class="form-label">Password</label>
                      <div class="FL inError">Enter correct password</div>
                     <!--  <a href="#" class="FR forgotLink" data-toggle="modal" data-target="#forgot-modal" data-dismiss="modal">Forgot Password</a> -->
                      <div class="clear"></div>
                    </div>
                    <div class="action-row">
                      <button type="submit" class="btn btn-secondary btn-block" disabled="">Login</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>